@model xPlay.ViewModels.ChannelsViewModel

@{
    ViewBag.Title = "Channel Index";
}

<div class="main">
    <div class="row placeholders">        
        @{

            foreach (var c in Model.RadioChannels.OrderBy(x => x.Name))
            {
                <div class="col-xs-6 col-sm-3 placeholder">
                    <a href="@Url.Action("Index", "Channel", new { c.Id })"><img src="@c.Image" width="200" height="200" class="img-responsive" alt="@c.Name"></a>
                    <h4>@c.Name</h4>
                    <span class="text-muted">@c.ChannelType</span>
                </div>                
            }
        }
    </div>
    <hr/>
</div>
